In [28]:
import seaborn as sns
sns.set_palette('husl')
import matplotlib.pyplot as plt
%matplotlib inline

In [29]:
import hopsworks
import pandas as pd

In [30]:
project = hopsworks.login()
fs = project.get_feature_store()

Connection closed.
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/195733
Connected. Call `.close()` to terminate connection gracefully.

In [31]:
temp_df = None

for fid in range(101):
    try:
        archive_df = pd.read_csv(f"./data/97100-{fid}-archive.csv", delimiter=';')
        latest_df = pd.read_csv(f"./data/97100-{fid}-latest.csv", delimiter=';')
    except FileNotFoundError:
        continue
    tmp_df = pd.concat([archive_df, latest_df])
    print(f"=== {fid} ===")
    print(tmp_df.info())
    tmp_df = tmp_df.drop(columns=["Kvalitet", "Unnamed: 4", "Tidsutsnitt:"])
    tmp_df["Date-Time"] = pd.to_datetime(tmp_df["Datum"] + " " + tmp_df["Tid (UTC)"])
    tmp_df = tmp_df.drop(columns=["Datum", "Tid (UTC)"])
    # tmp_df = tmp_df.set_index("Date-Time")
    print(tmp_df.head())
    if temp_df is None:
        temp_df = tmp_df
    else:
        temp_df = pd.merge(temp_df, tmp_df, how="outer", on="Date-Time")

temp_df

DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.

=== 1 ===
<class 'pandas.core.frame.DataFrame'>
Index: 506507 entries, 0 to 3125
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Datum           506507 non-null  object
 1   Tid (UTC)       506507 non-null  object
 2   Lufttemperatur  506507 non-null  float64
 3   Kvalitet        506507 non-null  object
 4   Unnamed: 4      0 non-null       float64
 5   Tidsutsnitt:    26 non-null      object
dtypes: float64(2), object(4)
memory usage: 27.1+ MB
None
   Lufttemperatur           Date-Time
0             3.0 1949-01-01 06:00:00
1             2.4 1949-01-01 18:00:00
2             4.0 1949-01-02 06:00:00
3             4.0 1949-01-02 18:00:00
4             3.8 1949-01-03 06:00:00

DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.

=== 3 ===
<class 'pandas.core.frame.DataFrame'>
Index: 507856 entries, 0 to 3123
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Datum         507856 non-null  object
 1   Tid (UTC)     507856 non-null  object
 2   Vindriktning  507856 non-null  int64
 3   Kvalitet      507856 non-null  object
 4   Unnamed: 4    0 non-null       float64
 5   Tidsutsnitt:  26 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 27.1+ MB
None
   Vindriktning           Date-Time
0           180 1947-07-01 06:00:00
1           180 1947-07-01 12:00:00
2           200 1947-07-02 06:00:00
3           180 1947-07-02 12:00:00
4           230 1947-07-03 12:00:00

DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.

=== 4 ===
<class 'pandas.core.frame.DataFrame'>
Index: 507947 entries, 0 to 3123
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Datum          507947 non-null  object
 1   Tid (UTC)      507947 non-null  object
 2   Vindhastighet  507947 non-null  float64
 3   Kvalitet       507947 non-null  object
 4   Unnamed: 4     0 non-null       float64
 5   Tidsutsnitt:   26 non-null      object
dtypes: float64(2), object(4)
memory usage: 27.1+ MB
None
   Vindhastighet           Date-Time
0            2.5 1947-07-01 06:00:00
1            4.5 1947-07-01 12:00:00
2            4.5 1947-07-02 06:00:00
3            6.5 1947-07-02 12:00:00
4            6.5 1947-07-03 12:00:00

DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.

=== 6 ===
<class 'pandas.core.frame.DataFrame'>
Index: 242574 entries, 0 to 3123
Data columns (total 6 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Datum                  242574 non-null  object
 1   Tid (UTC)              242574 non-null  object
 2   Relativ Luftfuktighet  242574 non-null  int64
 3   Kvalitet               242574 non-null  object
 4   Unnamed: 4             0 non-null       float64
 5   Tidsutsnitt:           26 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 13.0+ MB
None
   Relativ Luftfuktighet           Date-Time
0                     92 1951-01-01 18:00:00
1                     97 1951-01-02 18:00:00
2                     93 1951-01-03 18:00:00
3                     86 1951-01-04 18:00:00
4                     98 1951-01-05 18:00:00

DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.

=== 7 ===
<class 'pandas.core.frame.DataFrame'>
Index: 241027 entries, 0 to 3031
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Datum            241027 non-null  object
 1   Tid (UTC)        241027 non-null  object
 2   Nederbördsmängd  241027 non-null  float64
 3   Kvalitet         241027 non-null  object
 4   Unnamed: 4       0 non-null       float64
 5   Tidsutsnitt:     26 non-null      object
dtypes: float64(2), object(4)
memory usage: 12.9+ MB
None
   Nederbördsmängd           Date-Time
0              0.0 1996-02-01 21:00:00
1              0.0 1996-02-01 22:00:00
2              0.0 1996-02-01 23:00:00
3              0.0 1996-02-02 00:00:00
4              0.0 1996-02-02 01:00:00

DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.

=== 12 ===
<class 'pandas.core.frame.DataFrame'>
Index: 500226 entries, 0 to 3104
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Datum         500226 non-null  object
 1   Tid (UTC)     500226 non-null  object
 2   Sikt          500226 non-null  int64
 3   Kvalitet      500226 non-null  object
 4   Unnamed: 4    0 non-null       float64
 5   Tidsutsnitt:  26 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 26.7+ MB
None
    Sikt           Date-Time
0  50000 1947-07-01 06:00:00
1  20000 1947-07-01 12:00:00
2  20000 1947-07-02 06:00:00
3  50000 1947-07-02 12:00:00
4  20000 1947-07-03 12:00:00

DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.

=== 21 ===
<class 'pandas.core.frame.DataFrame'>
Index: 240366 entries, 0 to 3125
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Datum         240366 non-null  object
 1   Tid (UTC)     240366 non-null  object
 2   Byvind        240366 non-null  float64
 3   Kvalitet      240366 non-null  object
 4   Unnamed: 4    0 non-null       float64
 5   Tidsutsnitt:  26 non-null      object
dtypes: float64(2), object(4)
memory usage: 12.8+ MB
None
   Byvind           Date-Time
0     3.1 1996-02-01 21:00:00
1     1.8 1996-02-01 22:00:00
2     2.4 1996-02-01 23:00:00
3     1.9 1996-02-02 00:00:00
4     2.1 1996-02-02 01:00:00

DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.

=== 25 ===
<class 'pandas.core.frame.DataFrame'>
Index: 238617 entries, 0 to 3123
Data columns (total 6 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Datum                      238617 non-null  object
 1   Tid (UTC)                  238617 non-null  object
 2   Max av MedelVindhastighet  238617 non-null  float64
 3   Kvalitet                   238617 non-null  object
 4   Unnamed: 4                 0 non-null       float64
 5   Tidsutsnitt:               26 non-null      object
dtypes: float64(2), object(4)
memory usage: 12.7+ MB
None
   Max av MedelVindhastighet           Date-Time
0                        2.7 1996-02-01 22:00:00
1                        2.1 1996-02-01 23:00:00
2                        1.5 1996-02-02 01:00:00
3                        1.4 1996-02-02 02:00:00
4                        1.6 1996-02-02 04:00:00

DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.

=== 39 ===
<class 'pandas.core.frame.DataFrame'>
Index: 492589 entries, 0 to 3123
Data columns (total 6 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Datum                 492589 non-null  object
 1   Tid (UTC)             492589 non-null  object
 2   Daggpunktstemperatur  492589 non-null  float64
 3   Kvalitet              492589 non-null  object
 4   Unnamed: 4            0 non-null       float64
 5   Tidsutsnitt:          26 non-null      object
dtypes: float64(2), object(4)
memory usage: 26.3+ MB
None
   Daggpunktstemperatur           Date-Time
0                 -14.8 1951-01-01 06:00:00
1                  -7.3 1951-01-01 18:00:00
2                  -1.8 1951-01-02 06:00:00
3                  -3.2 1951-01-02 12:00:00
4                  -3.0 1951-01-02 18:00:00

,Lufttemperatur,Date-Time,Vindriktning,Vindhastighet,Relativ Luftfuktighet,Nederbördsmängd,Sikt,Byvind,Max av MedelVindhastighet,Daggpunktstemperatur
0,3.0,1949-01-01 06:00:00,180.0,12.0,NaN,NaN,10000.0,NaN,NaN,NaN
1,2.4,1949-01-01 18:00:00,180.0,9.0,NaN,NaN,4000.0,NaN,NaN,NaN
2,4.0,1949-01-02 06:00:00,160.0,11.0,NaN,NaN,4000.0,NaN,NaN,NaN
3,4.0,1949-01-02 18:00:00,160.0,8.0,NaN,NaN,10000.0,NaN,NaN,NaN
4,3.8,1949-01-03 06:00:00,180.0,6.0,NaN,NaN,20000.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
948690,NaN,1951-01-22 21:00:00,NaN,NaN,NaN,NaN,20000.0,NaN,NaN,NaN
948691,NaN,1951-01-23 21:00:00,NaN,NaN,NaN,NaN,20000.0,NaN,NaN,NaN
948692,NaN,1951-02-01 21:00:00,NaN,NaN,NaN,NaN,4000.0,NaN,NaN,NaN
948693,NaN,1951-12-25 21:00:00,NaN,NaN,NaN,NaN,10000.0,NaN,NaN,NaN
948694,NaN,1951-12-26 21:00:00,NaN,NaN,NaN,NaN,20000.0,NaN,NaN,NaN

In [32]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948695 entries, 0 to 948694
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Lufttemperatur             945279 non-null  float64
 1   Date-Time                  948695 non-null  datetime64[ns]
 2   Vindriktning               946628 non-null  float64
 3   Vindhastighet              946719 non-null  float64
 4   Relativ Luftfuktighet      681158 non-null  float64
 5   Nederbördsmängd            679799 non-null  float64
 6   Sikt                       934872 non-null  float64
 7   Byvind                     679138 non-null  float64
 8   Max av MedelVindhastighet  677389 non-null  float64
 9   Daggpunktstemperatur       931173 non-null  float64
dtypes: datetime64[ns](1), float64(9)
memory usage: 72.4 MB

In [33]:
temp_df.describe()

,Lufttemperatur,Date-Time,Vindriktning,Vindhastighet,Relativ Luftfuktighet,Nederbördsmängd,Sikt,Byvind,Max av MedelVindhastighet,Daggpunktstemperatur
count,945279.000000,948695,946628.000000,946719.000000,681158.000000,679799.00000,934872.000000,679138.000000,677389.000000,931173.000000
mean,9.882591,2005-02-03 20:34:40.478552960,175.487397,2.706519,84.837213,0.05551,30095.994533,5.163208,3.751547,7.093911
min,-32.400000,1947-07-01 06:00:00,0.000000,0.000000,11.000000,0.00000,0.000000,0.000000,0.000000,-36.000000
25%,4.300000,1982-02-05 21:30:00,113.000000,1.200000,76.000000,0.00000,9504.000000,2.800000,2.400000,2.000000
50%,12.200000,2020-01-17 22:00:00,189.000000,2.500000,90.000000,0.00000,30800.000000,4.900000,3.600000,9.300000
75%,15.700000,2023-09-11 22:00:00,248.000000,3.900000,99.000000,0.00000,50000.000000,7.000000,4.900000,13.000000
max,34.000000,2024-01-03 08:00:00,360.000000,22.000000,239.000000,37.10000,75000.000000,30.100000,18.400000,23.500000
std,8.075840,NaN,104.488585,1.950077,15.262793,0.35079,20547.384302,3.087056,1.937279,7.555607

### Cleaning

In [34]:
print(temp_df.info())
temp_df = temp_df.drop_duplicates(subset=["Date-Time"])
temp_df = temp_df.sort_values("Date-Time")
temp_df = temp_df.set_index("Date-Time")
temp_df = temp_df.asfreq('h')
temp_df = temp_df.interpolate()
temp_df = temp_df.dropna()
temp_df = temp_df.reset_index()
temp_df["ID"] = temp_df["Date-Time"]
temp_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948695 entries, 0 to 948694
Data columns (total 10 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Lufttemperatur             945279 non-null  float64
 1   Date-Time                  948695 non-null  datetime64[ns]
 2   Vindriktning               946628 non-null  float64
 3   Vindhastighet              946719 non-null  float64
 4   Relativ Luftfuktighet      681158 non-null  float64
 5   Nederbördsmängd            679799 non-null  float64
 6   Sikt                       934872 non-null  float64
 7   Byvind                     679138 non-null  float64
 8   Max av MedelVindhastighet  677389 non-null  float64
 9   Daggpunktstemperatur       931173 non-null  float64
dtypes: datetime64[ns](1), float64(9)
memory usage: 72.4 MB
None

,Date-Time,Lufttemperatur,Vindriktning,Vindhastighet,Relativ Luftfuktighet,Nederbördsmängd,Sikt,Byvind,Max av MedelVindhastighet,Daggpunktstemperatur,ID
0,1996-02-01 22:00:00,-7.7,252.0,1.1,98.0,0.0,31066.052812,1.8,2.7,-8.0,1996-02-01 22:00:00
1,1996-02-01 23:00:00,-6.7,261.0,1.4,96.0,0.0,31066.225879,2.4,2.1,-7.3,1996-02-01 23:00:00
2,1996-02-02 00:00:00,-6.2,252.0,1.1,95.0,0.0,31066.398947,1.9,1.8,-6.9,1996-02-02 00:00:00
3,1996-02-02 01:00:00,-5.6,312.0,1.2,93.0,0.0,31066.572015,2.1,1.5,-6.6,1996-02-02 01:00:00
4,1996-02-02 02:00:00,-5.5,289.0,0.9,94.0,0.0,31066.745083,2.3,1.4,-6.4,1996-02-02 02:00:00
...,...,...,...,...,...,...,...,...,...,...,...
244734,2024-01-03 04:00:00,-6.9,87.0,6.8,61.0,0.0,24782.000000,12.3,7.5,-13.3,2024-01-03 04:00:00
244735,2024-01-03 05:00:00,-7.1,80.0,7.3,62.0,0.0,10152.000000,13.2,7.5,-13.2,2024-01-03 05:00:00
244736,2024-01-03 06:00:00,-7.2,85.0,6.2,63.0,0.0,22637.000000,13.3,7.6,-13.0,2024-01-03 06:00:00
244737,2024-01-03 07:00:00,-7.2,86.0,5.3,67.0,0.0,23537.000000,13.2,7.6,-12.5,2024-01-03 07:00:00
244738,2024-01-03 08:00:00,-7.2,79.0,5.9,66.0,0.0,14322.000000,11.8,7.7,-12.3,2024-01-03 08:00:00

In [36]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244739 entries, 0 to 244738
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Date-Time                  244739 non-null  datetime64[ns]
 1   Lufttemperatur             244739 non-null  float64
 2   Vindriktning               244739 non-null  float64
 3   Vindhastighet              244739 non-null  float64
 4   Relativ Luftfuktighet      244739 non-null  float64
 5   Nederbördsmängd            244739 non-null  float64
 6   Sikt                       244739 non-null  float64
 7   Byvind                     244739 non-null  float64
 8   Max av MedelVindhastighet  244739 non-null  float64
 9   Daggpunktstemperatur       244739 non-null  float64
 10  ID                         244739 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(9)
memory usage: 20.5 MB

In [37]:
temp_df.describe()

,Date-Time,Lufttemperatur,Vindriktning,Vindhastighet,Relativ Luftfuktighet,Nederbördsmängd,Sikt,Byvind,Max av MedelVindhastighet,Daggpunktstemperatur,ID
count,244739,244739.000000,244739.000000,244739.000000,244739.000000,244739.000000,244739.000000,244739.000000,244739.000000,244739.000000,244739
mean,2010-01-17 15:00:00,6.611319,174.087027,2.868936,80.532727,0.063884,29238.466966,5.652361,4.063512,3.016819,2010-01-17 15:00:00
min,1996-02-01 22:00:00,-29.400000,0.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,-32.700000,1996-02-01 22:00:00
25%,2003-01-25 06:30:00,0.500000,85.000000,1.400000,71.000000,0.000000,11842.000000,3.100000,2.500000,-1.800000,2003-01-25 06:30:00
50%,2010-01-17 15:00:00,6.200000,190.000000,2.800000,87.000000,0.000000,31900.000000,5.400000,4.000000,2.900000,2010-01-17 15:00:00
75%,2017-01-09 23:30:00,13.100000,256.000000,4.100000,94.000000,0.000000,47400.000000,7.800000,5.400000,8.900000,2017-01-09 23:30:00
max,2024-01-03 08:00:00,32.000000,360.000000,16.300000,100.000000,37.100000,50000.000000,30.100000,18.400000,22.900000,2024-01-03 08:00:00
std,NaN,8.545060,109.043662,1.953378,17.202001,0.387747,17594.937212,3.381492,2.084026,7.487037,NaN

In [38]:
new_names = {}
for name in temp_df.columns:
    tmp_name = name.lower().replace('-', '_').replace(' ', '_')
    tmp_name = tmp_name.encode('ascii',errors='ignore')
    new_names[name] = tmp_name.decode()
temp_df = temp_df.rename(columns=new_names)
temp_df.columns

Index(['date_time', 'lufttemperatur', 'vindriktning', 'vindhastighet',
       'relativ_luftfuktighet', 'nederbrdsmngd', 'sikt', 'byvind',
       'max_av_medelvindhastighet', 'daggpunktstemperatur', 'id'],
      dtype='object')

In [39]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244739 entries, 0 to 244738
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   date_time                  244739 non-null  datetime64[ns]
 1   lufttemperatur             244739 non-null  float64
 2   vindriktning               244739 non-null  float64
 3   vindhastighet              244739 non-null  float64
 4   relativ_luftfuktighet      244739 non-null  float64
 5   nederbrdsmngd              244739 non-null  float64
 6   sikt                       244739 non-null  float64
 7   byvind                     244739 non-null  float64
 8   max_av_medelvindhastighet  244739 non-null  float64
 9   daggpunktstemperatur       244739 non-null  float64
 10  id                         244739 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(9)
memory usage: 20.5 MB

### Insert our Weather DataFrame into a FeatureGroup

In [40]:
temp_fg = fs.get_or_create_feature_group(
    name="weather",
    version=3,
    primary_key=["id"],
    event_time="date_time",
    description="Weather dataset")
temp_fg.insert(temp_df)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/195733/fs/195652/fg/381293

Uploading Dataframe: 100.00% |██████████| Rows 244739/244739 | Elapsed Time: 00:53 | Remaining Time: 00:00

Launching job: weather_3_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/195733/jobs/named/weather_3_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x7f71d1e5f430>, None)